/* .App {
  text-align: left;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #49c3fc;
  text-decoration: none;
}

#color {
  color: #49c3fc;
  cursor: pointer;
}  

#select-field{
  border: 2px, black;
  width: 165px;
}

 
/* #rounded{
  border: 2px black solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}  */


#photo-preview {
  height: 100px;
  width: 100px;
  border-radius: 20%; 
}

#photo-profile {
  height: 50px;
  width: 50px;
}

/* hide the name of the selected file */
input[type='file'] {
  color: transparent;
}

input[type='search'] {
  width: 100px;
  height: 19px;
}

 #nav-bar {
  margin: auto;
  text-align: center;
} 

#flex-container {
  /* display: flex; */
  padding: 40px;
  text-align: left;

  /* do I need this? */
}

#flex {
  display: flex;
  text-align: left;
}
/* #centered {
  text-align: center;

} */

#left-container {
  float: left;
  margin-left: 40px;
}

#right-container {
  float: right;
  margin-right: 40px;
  
}

#review-container {
  padding-top: 0px;
}

#user-card {
  padding-left: 0px;
  padding-right: 20px;
}

textarea {
  border: 2px solid black;
  border-radius: 5px;
}

/* #form{
  width: 100%;
} */

.star {
  width: 30px;
  height: 30px;
}

#small-button{
  font-size: small;
  margin: 10px;
}

#no-margin{
  margin: 0;
}

.tooltip {
  margin: 0;
  text-align: center;
  position: relative; 
  display: block;
  border: 1px dotted black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;

  /* Position the tooltip */
  position: absolute; 
  z-index: 1;
}

#padding{
  padding-left: 20px;
  padding-right: 20px;
}

#rating-centered{
  margin-top: 9px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#company {
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
  display: flex;
  
}

#logo{
  width: 100px;
  height: 50px;
}

#left-margin {
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

#margin-top {
  margin-top: 70px;
  /* do I need this? */
}

#arrow {
  width: 20px;
  height: 20px;
}

