/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#select-field{
  border: 2px, black;
  width: 165px;
}

.rounded {
  width: 50px;
  margin: auto
}

/* .rounded img {
  border-radius: 50%;
  height: 50px;
   width: 50px;
} */



#photo-preview {
  height: 100px;
  width: 100px;
  border-radius: 20%; 
}

#photo-profile {
  height: 200px;
  width: 200px;
}

/* hide the name of the selected file */
input[type='file'] {
  color: transparent;
}

 #nav-bar {
  text-decoration: none;
} 

#flex-container {
  display: flex;
  padding: 40px;
  text-align: left;
}

#app-container {
  margin: 40px;
}

#review-container {
  padding-top: 0px;
}

textarea {
  border: 2px solid black;
  border-radius: 5px;
}


