/* .App {
  text-align: left;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #49c3fc;
  text-decoration: none;
}

#nav-bar {
  float: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#select-field{
  border: 2px, black;
  width: 165px;
}

.rounded {
  width: 50px;
  margin: auto
}

/* .rounded img {
  border-radius: 50%;
  height: 50px;
   width: 50px;
} */



#photo-preview {
  height: 100px;
  width: 100px;
  border-radius: 20%; 
}

#photo-profile {
  height: 200px;
  width: 200px;
}

/* hide the name of the selected file */
input[type='file'] {
  color: transparent;
}

#search {
  width: 100px;
  height: 13px;
}

 /* #nav-bar {
  text-decoration: none;
}  */

#flex-container {
  /* display: flex; */
  padding: 40px;
  text-align: left;

  /* do I need this? */
}

#flex {
  display: flex;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

#left-container {
  float: left;
  margin: 40px;
}

#right-container {
  float: right;
  margin: 40px;
  
}

#review-container {
  padding-top: 0px;
}

#user-card {
  padding-left: 20px;
  padding-right: 4px;
  /* do I need this? */
}

textarea {
  border: 2px solid black;
  border-radius: 5px;
}

/* #form{
  width: 100%;
} */

.star {
  width: 30px;
  height: 30px;
}

#small-button{
  font-size: small;
  margin: 10px;
}

#no-margin{
  margin: 0;
}

#rating-centered{
  margin-top: 9px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#company {
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

#left-margin {
  margin-left: 50px;
}

